logzero== 1.7.0
adbutils == 2.0.2
tornado == 6.3.3
requests == 2.31.0
apkutils2 == 1.0.0
uiautomator2==2.16.25
humanize ==4.9.0
tidevice == 0.12.9
httpx == 0.25.2
weditor ==0.7.2
h26x-extractor==0.8.0
bitstring == 4.0.2

